.logo img{
  max-width: 60px;
}

h1,h2,h3,h4,h5,h6{
  font-family: Montserrat;
  font-weight: 900;
}

.logoRow{
  padding: 15px 30px;
}

hr{
  border-color: #48673a;
  border-width: 2px;
}

.logo{
  background: #48673a;
    padding: 20px;
    width: 110px;
    border-radius: 50%;
}

.myPic{
  border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
}

.aboutMe p, .aboutMe h5{
  text-align:center;
}

.aboutMe{
  padding: 2.5% 10%;
}

.resumeButton{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
  border-radius: 5px;
}

.experienceImage {
    background-image: url(../img/experienceImage-min.jpg);
    background-size: 100% 100%;
}

.experienceText{
  padding: 5% 10%;
}

.portfolioItem{
  background-size: cover;
  min-height: 350px;
  background-position: top center;
}

.ctr{
  text-align:center;
}

.recentWork{
  padding-top:40px;
  background: #f9f9f9;
}

.aboutMe hr {
    border-color: #48673a;
    border-width: 2px;
    width: 20%;
}

.headerRow {
    background-image: url(../img/hawaiiblackoverlay-min.jpeg);
    background-size: cover;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.headerText{
  margin-top: 9%;
}

.resumeButton{
  background: transparent;
    border: 2px solid #48673a;
    padding: 10px;
    color: #48673a;
}

.resumeButton:hover{
  background: #48673a;
    border: 2px solid #48673a;
    padding: 10px;
    color: white;
}

.canyonBack {
    background-image: url(../img/canyonblack.jpeg);
    background-size: cover;
    height: 100px;
}

.headerRow h1, .headerRow h4{
    color:white;
    text-align:center;
    text-shadow: 0 2px 4px black;
}

.headerRow h4 {
    font-size: 1rem;
  }
  .headerRow h1 {
      font-size: 4.5rem;
    }

.contactInfo h6{
  text-align:center;
}
.resumeButton{
-ms-transform: rotate(5deg) scale(0.9);
    -webkit-transform: rotate(5deg) scale(0.9);
    transform: rotate(5deg) scale(0.9);
  }
.resumeButton:hover{
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}

.portSlideIn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.portfolioItem:hover .portSlideIn{
  height: 100%;
}


.portfolioSection{
  background: #f9f9f9;
  padding-bottom: 40px;
}

.portInfo > h3, .portInfo > p{
    color: white;
    text-align: center;
    text-shadow: 0 2px 4px black;
}


.portButton{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
      border: 3px solid white;
      border-radius: 4px;
      padding: 10px;
      color: white;
}
.portInfo{
  padding: 15% 10%;
}

.contactSection{
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 900px){
  .headerRow {
      height: 50%;

  }
}

.aboutSection{
  padding-top: 40px;
padding-bottom: 40px;
}
